.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 40px;
}

p {
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  text-align: center;
}

.p {
  width: 550px;
}

.container_checkout_success {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  margin-top: 150px;
  margin-bottom: 40px;
}

@media (min-width: 487px) and (max-width: 768px) {
  .p {
    font-size: var(--font-size-small);
    width: 400px;
  }
}

@media (max-width: 486px) {
  .p {
    font-size: var(--font-size-tiny);
    width: 250px;
  }
}
