.container_checkout {
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 16px;
}

.inner_container_checkout {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.payment_form_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
}
.payment_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
}

.checkout_label {
  font-size: var(--font-size-small);
  color: var(--secondary-color);
}

.label_input_div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.row_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.klarna_div,
.vipps_div {
  margin-top: 20px;
}

.klarna_p {
  font-size: var(--font-size-small);
  color: var(--secondary-color);
}

.card_payment_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 16px; */
  width: 100%;
}

.card_payment_p {
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  text-wrap: nowrap;
}

.card_payment_img_div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.card_payment_form_div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.klarna_img,
.vipps_img {
  width: 32px;
  height: 32px;
}

.img_p_div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.your_order_titles,
.your_product_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  color: var(--secondary-color);
  max-width: 800px;
  margin-top: 8px;
  justify-items: center;
  align-items: center;
}
