.product_cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 380px;
  align-items: center;
  gap: 20px;
  row-gap: 0;
  max-width: 100vw;
  height: auto;
}

.loading_msg,
.error_msg {
  font-size: var(--font-size-medium);
  font-family: var(--font-family-1);
  color: var(--tertiary-color);
  text-align: center;
}

.favorite_icon {
  position: absolute;
  cursor: pointer;

  top: 0px;
}

.fav_icon_img {
  width: 42px;
  height: 42px;
}

.favorite_icon_div {
  position: absolute;
  width: 180px;
  display: flex;

  justify-content: flex-end;
}

.product_info_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 280px;
  position: relative;
  padding-bottom: 16px;
  gap: 16px;
}

.or_go_span {
  color: var(--secondary-color);
}

.product_image_div {
  width: 220px;
  height: 220px;
  border-radius: 48px;
}

.products_cards_image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin: auto;
  border-radius: 48px;
}

.individual_card_container {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 350px;
  text-align: center;
  border: 1px solid var(--tertiary-color);
  border-radius: 48px;
  gap: 0;
}

.external_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: auto;
  position: relative;
}

.product_title {
  font-size: var(--font-size-small);
  font-family: var(--font-family-2);
  color: var(--tertiary-color);
  font-weight: bold;
  height: 20px;
  text-align: center;
  text-wrap: nowrap;
}

.product_discount {
  background-color: var(--tertiary-color);
  color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 8px;
  width: 48px;
  height: auto;
  font-size: var(--font-size-small);
  font-family: var(--font-family-1);
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.discount_div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
}

.product_price {
  font-size: var(--font-size-small);
  font-family: var(--font-family-1);
  font-weight: bold;
  width: auto;
  height: 20px;
  text-align: left;
  color: var(--tertiary-color);
}

.view_product_button_div {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.h1_div_home {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  z-index: 2;
}

.sale_button_div {
  display: flex;
}

.h1_home_inner_box {
  width: 500px;
  height: auto;
  border: 2px solid var(--tertiary-color);
  border-radius: 48px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.h2_div_home {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  gap: 40px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
  padding-top: 160px;
}

.price_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 128px;
  height: auto;
  gap: 16px;
}

.discounted_price {
  font-size: var(--font-size-small);
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--font-family-1);
}

/* Media Queries */

@media (min-width: 487px) and (max-width: 768px) {
  .h1_home_inner_box {
    width: 380px;
  }

  .price_div {
    width: 100px;
    height: 30px;
    gap: 4px;
  }
  .product_cards_container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 336px;
    gap: 20px;
  }

  .container {
    gap: 16px;
  }

  .product_info_div {
    width: 220px;
    height: 250px;
    gap: 4px;
  }
  .products_cards_image {
    width: 220px;
    height: 220px;
  }

  .product_image_div {
    width: 220px;
    height: 220px;
  }

  .individual_card_container {
    width: 220px;
    height: 334px;
    gap: 0;
  }

  .product_title {
    text-wrap: nowrap;
    font-weight: bold;
  }
}

/* Media Queries */

@media (max-width: 486px) {
  .h1_home_inner_box {
    width: 280px;
  }

  .product_cards_container {
    grid-template-columns: 1fr;

    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .products_cards_image {
    width: 200px;
    height: 200px;
  }

  .product_image_div {
    width: 200px;
    height: 200px;
  }

  .product_info_div {
    width: 200px;
    height: 200px;
  }

  .individual_card_container {
    gap: 0;
    width: 200px;
    height: 350px;
  }

  .product_title {
    text-wrap: nowrap;
    font-weight: bold;
  }

  .product_discount {
    background-color: var(--tertiary-color);
    color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
    width: 48px;
    height: auto;
    font-size: var(--font-size-small);
    font-family: var(--font-family-1);
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
  }
}
