.background_image {
  position: relative;
  background-image: url("../../Images/Easy.png");
  background-size: contain;
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}
