:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #ff4955;
  --font-size-large: 48px;
  --font-size-medium: 32px;
  --font-size-small: 16px;
  --font-size-tiny: 12px;
  --font-family-1: "Lato", sans-serif;
  --font-family-2: "PT Serif", sans-serif;
}

.button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 16px 25px;
}

.button:hover {
  background-color: #ff6b7b;
}

.button:active {
  background-color: #f00a21;
}
.button:focus {
  outline: none;
}

.h1 {
  font-size: var(--font-size-large);
  color: var(--tertiary-color);
  font-family: var(--font-family-2);
  font-weight: bold;
  text-align: center;
}

.h2 {
  color: var(--tertiary-color);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-2);
  font-weight: bold;
  text-align: center;
}

.h3 {
  color: var(--tertiary-color);
  font-size: var(--font-size-small);
  font-family: var(--font-family-2);
  font-weight: bold;
  text-align: center;
}

body {
  margin: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgba(6, 5, 5, 0.925);
}
html {
  margin: 0;
  max-height: 100vh;
}

/* Media Queries */

@media (max-width: 768px) {
}

@media (min-width: 487px) and (max-width: 768px) {
  .h1 {
    font-size: var(--font-size-medium);
  }

  .h2 {
    font-size: var(--font-size-small);
  }
  .h3 {
    font-size: var(--font-size-tiny);
  }
}

@media (max-width: 486px) {
  .h1 {
    font-size: var(--font-size-medium);
  }

  .h2 {
    font-size: var(--font-size-small);
  }
  .h3 {
    font-size: var(--font-size-tiny);
  }
}
