.suggestion {
  cursor: pointer;
  list-style: none;
  padding-top: 16px;
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  font-family: var(--font-family-1);
}

.search_suggestion_ul {
  border: 1px solid var(--tertiary-color);
  background-color: rgba(0, 0, 0, 0.715);
  width: 420px;
  height: auto;
  padding-top: 20px;
}

@media (min-width: 426px) and (max-width: 768px) {
  .search_suggestion_ul {
    width: 242px;
  }
}

@media (max-width: 425px) {
  .search_suggestion_ul {
    width: 142px;
  }
}
