:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #ff4955;
  --font-size-large: 48px;
  --font-size-medium: 32px;
  --font-size-small: 16px;
  --font-size-tiny: 12px;
  --font-family-1: "Lato", sans-serif;
  --font-family-2: "PT Serif", sans-serif;
}

.button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 8%;
  cursor: pointer;
  padding: 10px 20px;
}

.button:hover {
  background-color: #ff6b7b;
}

.h1 {
  font-size: var(--font-size-large);
  color: var(--tertiary-color);
  font-family: var(--font-family-2);
  font-weight: bold;
  text-align: center;
}
